In [3]:
import pandas as pd
import etl_modules.extract as extract
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
import os
import socket

In [4]:
load_dotenv()

True

In [5]:
def is_running_locally():
    """
    Check if code is running locally or in the cloud

    Returns:
    """
    hostname = socket.gethostname()
    return hostname == "localhost" or hostname == "127.0.0.1" or hostname == 'SAOX1Y6-58781'

In [14]:

def create_db_engine(user='pedro_figueiredo', password='N8BSNZzSbBEboiDRJReMpIgHQvxo5Qy7', port=5432):
    """
    Creates engine needed to create connections to the database
    with the credentials and parameters provided.

    Args:
        user (str): Database username credential
        password (str): Database password credential
        port (int): Source port for database connection
    Returns:
        SQLAlchemy engine object
    Notes:
        Check https://github.com/Bain/ekpi-priorities/ README for setup
        instructions
    """

    assert isinstance(port, int), "Port must be numeric"
    assert user is not None, 'Username is empty'
    assert password is not None, 'Password is empty'

    if is_running_locally():
        db_uri = f'postgresql+psycopg2://{user}:{password}@dpg-ck7ghkvq54js73fbrei0-a.oregon-postgres.render.com/house_listings'
    else:
        db_uri = f'postgresql+psycopg2://{user}:{password}@dpg-ck7ghkvq54js73fbrei0-a/house_listings'
    engine = create_engine(db_uri, future=True, pool_size=10,
                           max_overflow=2,
                           pool_recycle=300,
                           pool_pre_ping=True,
                           pool_use_lifo=True)

    return engine

In [17]:
def read_listings_sql_table():

    engine = create_db_engine()
    with engine.connect() as conn:
        search_results = pd.read_sql(
            """
            SELECT *
            from dim_zip_code
            """,
            con=conn)
    engine.dispose()
    return search_results

In [18]:
results = read_listings_sql_table()
results

      zip_code                   complement
0     05416011   de 639 a 1551 - lado ímpar
1     05416000           até 636 - lado par
2     05410002          de 1019/1020 ao fim
3     05404014  de 1461 a 1831 - lado ímpar
4     05412001         de 183/184 a 795/796
...        ...                          ...
1637  05451906
1638  04509001         de 261/262 a 529/530
1639  01311913
1640  04117120
1641  04530903

[1642 rows x 2 columns]

In [20]:
results.to_csv('dim_zip_codes.csv', index=False)

In [3]:
import urllib.parse
urllib.parse.quote_plus("postgres.ahzokcumxpzwigghvlix")

'postgres.ahzokcumxpzwigghvlix'